@tailwind base;
@tailwind components;
@tailwind utilities;

.imagediv{

  background-image: url('../assets/images/bg blured.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 5 0 5;
  height: 90vh;
  width: 98vw;

  
}