<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css">
    <meta name="author" content="Yohua">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body class="bg-cover h-full w-full" style="background-image: url('../assets/images/bg index.jpg');">
    
    <!--Navbar!!-->
    <header class="bg-white rounded-full mt-5 mx-3 mb-3">
      <nav class="flex justify-between items-center w-[94%] mx-auto py-2">
        <div>
          <!--hover & change path-->
          <a href="../index.html">
            <img class="w-8 mr-10" src="../assets/images/chip.png" alt="Inicio">
          </a> 
        </div>
        <div>
          <ul class="flex items-center gap-[4vw]">
            <li>
              <a class="hover:text-gray-500" href="aboutme.html">About me</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="hobbies.html">Hobbies</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="abilities.html">Abilities</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="portfolio.html">Portfolio</a>
            </li>
            <li>
              <a class="hover:text-gray-500" href="https://github.com/keebwee5" target="_blank">Github</a>
            </li>
          </ul>
        </div>
        <div class="flex items-end rounded-md hover:text-gray-500">
          <select name="Contact" class="text-center w-32">
            <option disabled selected>&#128381; Contact Me</option>
            <option disabled>&#10070;github.com/keebwee5</option>
            <option disabled>&#127891;189670@iberopuebla.mx</option>
          </select>
        </div>
      </nav>
    </header>

    <!--Just title-->
    
  

  </body>
</html>
